<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" >
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="bi bi-house"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Smart Home TEC</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="dash">
                    <i class="bi bi-speedometer"></i>
                    <span>Dashboard</span></a>
                <a class="nav-link" href="info">
                    <i class="bi bi-info-circle"></i>
                    <span>Information</span></a>
                    <a class="nav-link" href="eshop">
                        <i class="bi bi-shop"></i>
                        <span>Manage eShop</span></a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a type="button" class="dropdown-item" href="login" data-toggle="modal" data-target="#logoutModalLabel" >
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Log Out <i class="bi bi-door-open"></i></span>
                            </a>
                            <!-- Dropdown - User Information -->
                           
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Device Information</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                New Device</div>
                                            <form #formNew="ngForm" (ngSubmit)="onNew(formNew)">
                                                <div class="alert alert-danger" role="alert" *ngIf="isError">
                                                    Something is wrong!
                                                </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon3">Serial #</span>     
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Serie
                                                aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon3">Brand</span>  
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Marca
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon3">Electrical consumption</span>  
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Consumo_Electrico
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon3">Place</span>  
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Aposento
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon3">Warranty</span>  
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Tiempo_Garantia
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon3">Device Category</span>  
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Nombre
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon3">Description</span>  
                                                <textarea type="text" class="form-control bg-light border-0 small" name=Decripcion
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel></textarea>
                                            </div>
                                            
                                                <button class="btn btn-outline-success" type="submit">
                                                    <i class="bi bi-arrow-90deg-down"> Save New Device</i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4" *ngFor="let device of listaDisp; index as i">
                            <div class="card border-left-{{colors[i]}} shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-0">
                                            <div class="text-xs font-weight-bold text-{{colors[i]}} text-uppercase mb-1">
                                                {{device.Nombre}}</div>
                                                <form #formNew="ngForm" (ngSubmit)="onEdit(formNew, device)">
                                                    <div class="alert alert-danger" role="alert" *ngIf="isError">
                                                        Something is wrong!
                                                    </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon3">Serial #</span>   
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="{{device.Serie}}" name=Serie
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon3">Brand</span>   
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="{{device.Marca}}" name=Marca
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon3">Electrical consumption</span>   
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="{{device.Consumo_Electrico}} W." name=Consumo_Electrico
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon3">Place</span>   
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="{{device.Aposento}}" name=Aposento
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon3">Warranty</span>   
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="{{device.Tiempo_de_garantia}} Y." name=Tiempo_Garantia
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon3">Device Category</span>   
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="{{device.Nombre}}" name=Nombre
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon3">Description</span>   
                                                <textarea type="text" class="form-control bg-light border-0 small" placeholder="{{device.Descripcion}}" name=Decripcion
                                                aria-label="Search" aria-describedby="basic-addon2" ngModel></textarea>
                                                </div>
                                                
                                                <button class="btn btn-{{colors[i]}}" type="submit">
                                                    <i class="bi bi-arrow-90deg-up"> Update Information</i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; YenUS 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
</body>
</html>